* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f5f7fa;
	padding: 40px 20px;
	font-family: Montserrat;
 }

.wrapper {
	background: #fff;
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
	
}

.sidebar {
 	background: #1e2939;
	width: 370px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.my-photo {
	width: 370px;
}

.about-me-container {
	padding: 110px 90px;
}

.contacts-container {
	margin: 60px 40px;
}

.contacts-title {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 20px;
}

.contacts-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #434c5a;
 }

 .contacts-link-type {
 	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	margin-right: 10px;
 }

.tech-skills-container {
	margin: 55px 40px;
}

.tech-skills-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	margin-bottom: 20px;
}

.tech-skills-item {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #ff6b08;
	margin-left: 15px;
}

.tech-skills-text {
	color: #d8dadd;
}

.soft-skills-container {
	margin: 55px 40px;
}

.soft-skills-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	margin-bottom: 20px;
}

.soft-skills-item {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #ff6b08;
	margin-left: 15px;
}

.soft-skills-text {
	color: #d8dadd;
}

.info-container {
	margin-bottom: 65px;
}


.profession {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 23px;
}

.name {
	font-size: 45px;
	font-weight: 700;
	line-height: 89px;
	margin-bottom: 23px;
}

.description {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
	margin-top: 24px;
}

.projects-container {
	margin-bottom: 55px;
}

.about-me-title {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
}

.projects-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #595959;
}

.tech-name {
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.dots {
	color: #595959;
	 
 }

.projects-item {
	font-weight: 700;
	margin-left: 17px;
 }


.profession-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.profession-company {
	color: #ff6b08;
}

.profession-period {
	color: #a8a8a8;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 14px;
}

.profession-divider {
	color: #000;
}

.profession-duties {
	margin-top: 14px;
	margin-bottom: 30px;
} 

.profession-duties-item {
	color: #595959;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.education-name {
	color: #ff6b08;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
}

.education-profession {
	color: #000000;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
}